#popupWrapper {
    width: 300px;
    text-align: center;
}

#formWrapper {
    width: 300px;
    text-align: center;
}

.popupNote {
    font-size: 12px;
}

.popupLinebreak {
    margin-bottom: 15px;
    margin-top: 20px;
}

.footNote {
    font-size: 8px;
    text-align: left;
    margin-top: 30px;
}

form {
    margin: 0 0 2em 0;
}

form div div label{
    display: block;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-top: 10px;
    color: #000000;
}

form div div {
    display: block;
}

form .actions{
    list-style-type: none;
    padding: 0;
}